services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    ports:
      - '3000:3000'
     labels:
      - 'traefik.http.middlewares.mybasicauth.basicauth.users=Kiar123:$2y$05$jTTfwZ7xjr78/dgztSb6X.oQ70wFt5TqGU/g0dJ3NIKDyO/7OFQWC' 
    volumes:
      - data:/home/perplexica/data
      - uploads:/home/perplexica/uploads
    restart: unless-stopped

volumes:
  data:
    name: 'perplexica-data'
  uploads:
    name: 'perplexica-uploads'
