services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    ports:
      - '3000:3000'
    labels:
      - 'traefik.http.middlewares.mybasicauth.basicauth.users=Kiar_08:$2y$05$N4Yt8C1Mz08Jx7cJUS8ydegh1OPaPBXcKuLW4y1Xl4uaoguBop7QC'
    volumes:
      - data:/home/perplexica/data
      - uploads:/home/perplexica/uploads
    restart: unless-stopped

volumes:
  data:
    name: 'perplexica-data'
  uploads:
    name: 'perplexica-uploads'
